<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340410341612-oqaotrq7qndjb7rr86nu70ulkfj490rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340410341612-oqaotrq7qndjb7rr86nu70ulkfj490rp</string>
	<key>API_KEY</key>
	<string>AIzaSyDLkdzZOmHxCmEkr8T2LVuVL-QVGZYCZhU</string>
	<key>GCM_SENDER_ID</key>
	<string>340410341612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatyanasidoryuk.MyChat</string>
	<key>PROJECT_ID</key>
	<string>chattatyana</string>
	<key>STORAGE_BUCKET</key>
	<string>chattatyana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340410341612:ios:7da5e8a9c4544c6c386dc9</string>
</dict>
</plist>